body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-size: 800% 800%;
    animation: gradientAnimation 20s ease-in-out infinite;
    color: #808080;
}

@keyframes gradientAnimation {
    0% {
        background-color: rgba(255, 0, 0, 0.308);
    }
    8% {
        background-color: rgb(255, 128, 0, 0.308);
    }
    16% {
        background-color: rgb(255, 255, 0, 0.308);
    }
    25% {
        background-color: rgb(127, 255, 0, 0.308);
    }
    33% {
        background-color: rgb(0, 255, 0, 0.308);
    }
    41% {
        background-color: rgb(0, 255, 127, 0.308);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.308);
    }
    57% {
        background-color: rgb(0, 255, 255, 0.308);
    }
    60% {
        background-color: rgb(0, 127, 255, 0.308);
    }
    66% {
        background-color: rgb(0, 0, 255, 0.308);
    }
    75% {
        background-color: rgb(127, 0, 255, 0.308);
    }
    83% {
        background-color: rgb(255, 0, 255, 0.308);
    }
    91% {
        background-color: rgb(255, 0, 127, 0.308);
    }
    100% {
        background-color: rgb(255, 0, 0, 0.308);
    }

}

header {
    background-color: #1e90ff;
    color: white;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-wrapper {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.logo {
    position: relative;
    padding-left: 1%;
    top: 3px;
    transform: scale(2)
}

.search-container {
    position: fixed;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
}

.search-bar {
    height: 30px;
    width: 0px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 20;
}

.search-icon {
    margin-top: 3px;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.4s ease-in-out;
}

.search-container:hover .search-bar,
.search-container:focus-within .search-bar {
    width: 150%;
    opacity: 1;
}

.search-container:hover .search-icon,
.search-container:focus-within .search-icon {
    transform: translateX(-150px);
}

nav {
    transform: 0.3s ease;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 80px auto 20px; /* Adjusted margin to account for fixed header */
    justify-content: space-between;
}

.sidebar {
    width: 15%;
    height: 0%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 20px;
    margin-left: 30px;
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .profile img {
    width: 50%;
    height: auto;
    border-radius: 50%; /* Make the image frame circular */
    object-fit: cover; /* Ensure the image covers the frame */
}

.sidebar .profile a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.sidebar .profile a:hover {
    background-color: #1c86ee;
    transform: scale(1.05);
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    display: inline-block;
    width: 45%;
    padding: 10px 10px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #1c86ee;
    transform: scale(1.05);
}

.content {
    width: 50%;
}

#whats-on-your-mind {
    background-color: white; 
    padding: 20px;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.267);
}

#whats-on-your-mind h2 {
    margin-top: 0;
}

#whats-on-your-mind textarea {
    width: 97%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    color: #808080;
    border: none;
    border-radius: 20px;
    resize: none; 
}

#whats-on-your-mind textarea::placeholder {
    color: #808080;
    opacity: 1;
    font-style: italic;
}

#whats-on-your-mind button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#whats-on-your-mind button:hover {
    background-color: #1c86ee;
    transform: scale(1.05);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.video-container video {
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.267);
}

.content .post {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.267);
}

.content .post h2 {
    margin-top: 0;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.post-date {
    font-size: 0.9em;
    color: #999;
}

.post-actions button {
    background: none;
    border: none;
    color: #1e90ff;
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.post-actions button:hover {
    color: #ee1c1c;
    transform: scale(1.1);
}

.active-users, .upcoming-events, .friend-requests {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 20px;
}

.active-users h2 {
    margin-top: 0;
}

.active-users ul {
    list-style: none;
    padding: 0;
}

.active-users ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.online-dot {
    width: 10px;
    height: 10px;
    background-color: #00c91b;
    border-radius: 50%;
    margin-right: 10px;
}

.upcoming-events h2, .friend-requests h2 {
    margin-top: 0;
}

.upcoming-events ul, .friend-requests ul {
    list-style: none;
    padding: 0;
}

.upcoming-events ul li, .friend-requests ul li {
    padding: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column; /* Ensure hierarchical layout */
}

.upcoming-events ul li {
    flex-direction: column;
    align-items: flex-start;
}

.friend-requests .friend-pic {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px; /* Add margin to separate from name */
}

.friend-requests p {
    margin: 0;
    margin-bottom: 10px; /* Add margin to separate from buttons */
}

.friend-requests .accept-button, .friend-requests .decline-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make buttons full width */
    margin-bottom: 5px; /* Add margin to separate buttons */
}

.friend-requests .accept-button {
    font-size: 15px;
    height: 40px;
    background-color: #1e90ff;
    color: white;
    transition: all 0.3s ease;
}

.friend-requests .accept-button:hover {
    background-color: #00be00;
}

.friend-requests .decline-button {
    font-size: 15px;
    height: 40px;
    background-color: #ff4d4d;
    color: white;
    transition: all 0.3s ease;
}

.friend-requests .decline-button:hover {
    background-color: #e20031;
}

.notification {
    display: flex;
    position: fixed;
    top: 10%;
    right: 810px;
    margin: auto;
    background-color: #00c91b;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.notification.show {
    opacity: 1;
}

.notification.hidden {
    opacity: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.5s ease, background-color 0.5s ease;
    position: relative;
}

.nav-item i {
    margin-right: 5px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Add spacing between buttons */
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: #000000;
    text-align: center;
    min-width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.dropdown-content a:hover {
    background-color: #ddd;
    width: 100%;
    transform: scale(1.05);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.no-more-posts {
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin: auto;
}

.footer {
    margin: auto;
    width: 100%;
    bottom: 0%; 
    background-color: #1e90ff;
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0px;
}

